body {
    margin: 0;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.container {
    max-width: 1300px;
    margin: 0 auto;
}

.container-flex {
    margin-top: 50px;
    display: flex;
}


.wrap-img {
    flex: 1 1 25%;
    margin: 0 auto;
    position: relative;
    margin: 10px;   
}

.image--hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
} 

.image--hover img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden;    
}

.image--hover:hover img {
    animation-name: loadBlur;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;    
    visibility: visible;
   
}

.image--hover.two:hover img, .image--hover.three:hover img {
    animation-duration: 1s;
}



.image--hover:hover ~ .image--default img {
    visibility: hidden;
    opacity: 0;
}


.image--default {    
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.image--default img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}


@keyframes loadBlur {
	0% {
		-webkit-filter: blur(25px);
		filter: blur(25px);        
	}
	
	100% {
		-webkit-filter: blur(0);
		filter: blur(0);        
	}
}



.image--hover-test:hover img {
    animation-name: loadBlur;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;    
    visibility: visible;
}

.image--hover-test img {    
    visibility: hidden;
    width: 100%;
    cursor: pointer;
}

.wrap-bg {
    width: 300px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 140px;
    margin-top: 50px;
    height: 500px;
    background-image: url(img-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.wrap-bg:hover {
    background-image: none;
}



